<!DOCTYPE html>
<html>
   <%- include('../partials/head') -%>
  <body>
    
    <%- include('../partials/header', {username: username}) -%>



    <!-- You can also require other files to run in this process -->

  </body>
</html>




<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Association des véhicules</h1>
  </div>
</div>


<div class="container p-5">

  <a class="btn btn-dark" href="/gestion-des-entitees" role="button">Retour</a>

   <br/>
   <br/>

   <div class="card">

    <div class="card-body">

      <form method="POST" action="/association-vehicule">
        <div class="form-group">
          <label for="exampleInputEmail1">Nom de l'entité</label>
          <input type="text" class="form-control" value="<%= entiteInfo.nom_entitee %>" disabled>
          <input type="hidden" class="form-control" name="id_entitee" value="<%= entiteInfo.id %>">
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">Véhicules</label>
          <select class="form-control" name="id_vehicule">
            <% listeVehicules.forEach(function(vehicule) { %>
                <option value="<%= vehicule.id %>"><%= vehicule.marque %> - <%= vehicule.modele %> - <%= vehicule.immatriculation %></option>
            <% }); %>
          </select>          
        </div>
        <button type="submit" class="btn btn-dark btn-block">Association</button>
      </form>

    </div>

   </div>

   <br/>
   <br/>
   
   <table id="table" class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nom entité</th>
        <th scope="col">Véhicule</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <% listeAssociationVehicules.forEach(function(association) { %>
        <tr>
          <th scope="row"><%= association.id %></th>
          <td><%= entiteInfo.nom_entitee %></td>
          <td><%= association.marque %> - <%= association.modele %></td>
          <td>
            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-trash-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5a.5.5 0 0 0-1 0v7a.5.5 0 0 0 1 0v-7z"/>
            </svg>
        </td>
        </tr>      
      <% }); %>
    </tbody>
  </table>





</div>





</div>





