<!DOCTYPE html>
<html>
   <%- include('../partials/head') -%>
  <body>
    
    <%- include('../partials/header', {username: username}) -%>


    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <h1 class="display-4">Gestion des individus</h1>
      </div>
    </div>


    <div class="container p-5">

      
      <a class="btn btn-dark" href="/dashboard" role="button">Retour</a>
      <a class="btn btn-dark float-right" href="/nouvelle-individu" role="button">Nouveau</a>

       <br/>
       <br/>

        <table id="table" class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Nom</th>
              <th scope="col">Prénom</th>
              <th scope="col">Fonction</th>
              <th scope="col">Rôle</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            <% listeIndividus.forEach(function(individu) { %>
              <tr>
                <th scope="row"><%= individu.id %></th>
                <td><%= individu.nom %></td>
                <td><%= individu.prenom %></td>
                <td><%= individu.fonction %></td>
                <td><%= individu.role %></td>
                <td>
                  <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-trash-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5a.5.5 0 0 0-1 0v7a.5.5 0 0 0 1 0v-7z"/>
                  </svg>
                </td>
              </tr>
            <% }); %>

          </tbody>
        </table>

    </div>

    <!-- You can also require other files to run in this process -->

  </body>
</html>



