<!DOCTYPE html>
<html>
   <%- include('../partials/head') -%>
  <body>
    
    <%- include('../partials/header', {username: username}) -%>


    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <h1 class="display-4">Consultation fiche kilométrique</h1>
      </div>
    </div>
  
  
    <div class="container p-5">
  
      <a class="btn btn-dark" href="/fiches-kilometriques" role="button">Retour</a>
  
       <br/>
       <br/>

       <% var totalKilometrage = 0
       var compensation = 0
       
       trajets.forEach(function(trajet) { 

          totalKilometrage = totalKilometrage + trajet.distance

        }); 
        
        switch (infosFiche.vehicule.bareme.chevauxFiscaux) {
          case '3 CV et moins' :
                  if(totalKilometrage <= 5000 )
                  {
            
                      compensation = totalKilometrage * 0.410
            
                  }
                  else if (totalKilometrage > 5001 && totalKilometrage < 20000) 
                  {
                    
                    compensation = (totalKilometrage * 0.245) + 824
            
                  } 
                  else if (totalKilometrage > 20000) 
                  {
                    
                    compensation = totalKilometrage * 0.285
            
                  }
                  break;
          
          case '4 CV' :
                  if(totalKilometrage <= 5000 )
                  {
            
                      compensation = totalKilometrage * 0.493
            
                  }
                  else if (totalKilometrage > 5001 && totalKilometrage < 20000) 
                  {
                    
                    compensation = (totalKilometrage * 0.270) + 1082
            
                  } 
                  else if (totalKilometrage > 20000) 
                  {
                    
                    compensation = totalKilometrage * 0.332
            
                  }
                  break;
          
          case '5 CV' :
                  if(totalKilometrage <= 5000 )
                  {
            
                      compensation = totalKilometrage * 0.543
            
                  }
                  else if (totalKilometrage > 5001 && totalKilometrage < 20000) 
                  {
                    
                    compensation = (totalKilometrage * 0.305) + 1188
            
                  } 
                  else if (totalKilometrage > 20000) 
                  {
                    
                    compensation = totalKilometrage * 0.364
            
                  }
                  break;

          case '6 CV' :
                  if(totalKilometrage <= 5000 )
                  {
            
                      compensation = totalKilometrage * 0.568
            
                  }
                  else if (totalKilometrage > 5001 && totalKilometrage < 20000) 
                  {
                    
                    compensation = (totalKilometrage * 0.320) + 1244
            
                  } 
                  else if (totalKilometrage > 20000) 
                  {
                    
                    compensation = totalKilometrage * 0.382
            
                  }
                  break;

          case '7 CV et plus' :
                  if(totalKilometrage <= 5000 )
                  {
            
                      compensation = totalKilometrage * 0.595
            
                  }
                  else if (totalKilometrage > 5001 && totalKilometrage < 20000) 
                  {
                    
                    compensation = (totalKilometrage * 0.337) + 1288
            
                  } 
                  else if (totalKilometrage > 20000) 
                  {
                    
                    compensation = totalKilometrage * 0.401
            
                  }
                  break;
          
          }
        
        %>
  
        <div class="row">
  
          <div class="col-md-6">
  
            <div class="card">
  
              <div class="card-body">
  
                <b>Entreprise : </b> <%= infosFiche.entitee.nom_entitee %>  <br/>
                <b>Nom : </b> <%= infosFiche.individu.prenom %> <%= infosFiche.individu.nom %> <br/>
                <b>Type de véhicule : </b> <%= infosFiche.vehicule.marque %> - <%= infosFiche.vehicule.modele %> - <%= infosFiche.vehicule.bareme.chevauxFiscaux %><br/>
                <b>Année : <%= infosFiche.vehicule.annee %></b>
  
              </div>
  
  
            </div>
  
  
          </div>
          <div class="col-md-6">
  
            <div class="card">
  
              <div class="card-header">
                Kilométrage sur toute la période
              </div>
              <div class="card-body">
                <b>Relevé de compteur au départ :</b> <br/>
                <b>Relevé de compteur à l'arrivée : </b> <br/>
                <b>Kilomètres parcourus :</b> <span id="total_kilometrage_deux"><%= totalKilometrage %> KM</span><br/>
                <b>Compensation : </b> <span id="total_compensation_deux"><%= Math.round(compensation) %> €</span>  <br/>
              </div>
  
  
            </div>
  
  
          </div>
  
  
        </div>
  
        <br/>

        <a class="btn btn-dark float-right" id="nouveau_trajet" role="button">Nouveau trajet</a><br/>

        <br/>
        <br/>

        <form method="POST" action="/mise-a-jour-fiche">
        <input type="hidden" id="total_trajet" name="total_trajet" />
        <input type="hidden" id="chevauxFiscaux" name="chevauxFiscaux" value="<%= infosFiche.vehicule.bareme.chevauxFiscaux %>" />
        <input type="hidden" name="totalKilometrage" id="dataTotalKilometrage" value="<%= totalKilometrage %>" />
        <input type="hidden" name="compensationKilometrage" id="dataCompensation" />
        <input type="hidden" name="individu" value="<%= infosFiche.individuId %>"/>
        <input type="hidden" name="fiche" value="<%= infosFiche.id %>" />

        <br/>
  
        <table id="tableFiche" class="table table-bordered">
          <thead>
            <tr>
              <th scope="col">Date</th>
              <th scope="col">Trajet</th>
              <th scope="col">Commentaire</th>
              <th colspan="3">Relevée de compteur</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            <% trajets.forEach(function(trajet) { %>
              <tr>
                <th scope="row">
                    <%= trajet.date %>
                </th>
                <td>
                  <%= trajet.trajet %>
                </td>
                <td>
                  <%= trajet.commentaire %>
                </td>
                <td>
                  <%= trajet.depart %>
                </td>
                <td>
                  <%= trajet.arrivee %>
                </td>
                <td>
                  <%= trajet.distance %>
                </td>
                <td>
                  <a href="/delete-trajet/<%= trajet.id %>/<%= infosFiche.id %>">Delete</a>
                </td>
              </tr>
              <% }); %>
            </tbody>
          <tbody id="listeTrajet">

  
          </tbody>
        </table>

        <table class="table table-bordered">
          <thead>
            <tr>
              <th></th>
              <th></th>
              <th></th>
              <th colspan="3"></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr><td colspan="3" rowspan="1"></td><td colspan="3">Total kilomètres parcourus</td><td id="total_kilometrage"><%= totalKilometrage %> KM</td></tr>
            <tr><td colspan="3" rowspan="1"></td><td colspan="3">Montant indemnité</td><td id="total_compensation"><%= Math.round(compensation) %> €</td></tr>
          </tbody>
        </table>

        <br/>

        <button type="submit" class="btn btn-dark btn-block">Sauvegarder la fiche</button>
        </form>
  
    </div>

    <!-- You can also require other files to run in this process -->

  </body>
</html>    












